

<div class="card flex justify-content-center mt-2">
    <p-card header="List Products of cart" >
        <div class="flex flex-wrap ml-5">
            <!-- <div  style="width: 20%;height: 20%;" class="shadow-2 hover:shadow-7 text-center border-round-sm h-6rem surface-overlay 
                      p-3 m-3 flex align-items-center justify-content-center font-bold" *ngFor="let cart of carts">
             
                                <img src="assets/images/{{cart.Phone.Image }}"  width="100" class="shadow-4" />
                                <h4 class="mb-1">jj</h4>
                                <h6 class="mt-0 mb-3">gggg</h6>

            </div> -->

            <div class="card  shadow-2   hover:shadow-7 text-center flex align-items-center justify-content-center p-3 m-3 "  style="width: 20%; height: 20%;" *ngFor="let cart of carts">
                <img src="assets/images/{{cart.Phone.Image }}"  width="200" class="mt-3" />
                <span class="mb-1 font-bold">{{cart.Phone.Model}}</span><br>
                <p class="mt-0 mb-3">{{cart.Phone.Description}}</p>
                <p class="mt-0 font-bold mb-3">Stock : {{cart.Phone.Stock}}</p>
                <p class="mt-0 font-bold mb-3">Piece </p>
                    <div class="input-group mb-3 stock">
                    <button class="btn btn-primary" type="button "(click)="minusPhone()"  id="button-addon1">-</button>
                    <input type="number" min="0" #Quantity  [(ngModel)]="basketNumber"   class=" text-center bg-white text-primary" disabled placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn btn-primary" type="button" id="button-addon1"  (click)="plusPhone(cart.Phone.Price)">+</button>
        
                </div>    
                <p class="mt-0 font-bold mb-3">Total price : {{cart.Phone.Price}} * {{basketNumber}} </p>
            </div>
        </div>
    </p-card>

</div>