


<div class="container-fluid">
    <mat-toolbar>
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars" styleClass="p-button-rounded p-button-info p-button-text" class="surface-100"  ></p-button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <p-button type="button"  (click)="sidebarVisible2 = true" class="pi  pi-cog"  styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
        <p-sidebar [(visible)]="sidebarVisible2" position="right"  [style]="{'width':'250px'}">
            <h3>Right Sidebar</h3>
        </p-sidebar>
      </mat-toolbar>

    <div class="row">

<div class="grid surface-100">
    <div class="col-1">
        <div class="text-center  border-round-sm  font-bold ">

            <p-sidebar [(visible)]="sidebarVisible" [style]="{'width':'270px'}">
                <ng-template pTemplate="header">Header Content</ng-template>
                <ng-template pTemplate="content"> <header></header></ng-template>
                <ng-template pTemplate="footer">Footer Content</ng-template>
            </p-sidebar>
        </div>
    </div>
    <div class="col-8">
        <div class="text-center  border-round-sm  font-bold "></div>
    </div>
    <div class="col-3">
        <div class="text-center  border-round-sm  font-bold ">
       
    </div>
</div>
 
</div>
  </div>
<!-- <footer></footer> -->

<div class=" surface-100">  
 

    <router-outlet></router-outlet>

</div>