


<div class="container-fluid">
    <div class="card">
        <p-megaMenu [model]="items" styleClass="flex">

            <ng-template pTemplate="start">
                <p-button (click)="sidebarVisible = true" icon="pi pi-bars" styleClass="p-button-rounded p-button-info p-button-text" class="surface-100"  ></p-button>

                <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
            </ng-template>
            <ng-template pTemplate="end">
                <input type="text" pInputText placeholder="Search" style="margin-right: 10px;" />
                <p-button type="button"  (click)="sidebarVisible2 = true" class="pi  pi-cog"  styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
                <p-sidebar [(visible)]="sidebarVisible2" position="right"  [style]="{'width':'250px'}">
                    <h3>Right Sidebar</h3>
                </p-sidebar>
            </ng-template>
        </p-megaMenu>
    </div>

    <div class="row">

<div class="grid surface-100">
    <div class="col-1">
        <div class="text-center  border-round-sm  font-bold ">

            <p-sidebar [(visible)]="sidebarVisible" [style]="{'width':'270px'}">
                <ng-template pTemplate="header">Header Content</ng-template>
                <ng-template pTemplate="content"> <header></header></ng-template>
                <ng-template pTemplate="footer">Footer Content</ng-template>
            </p-sidebar>
        </div>
    </div>
    <div class="col-8">
        <div class="text-center  border-round-sm  font-bold "></div>
    </div>
    <div class="col-3">
        <div class="text-center  border-round-sm  font-bold ">
       
    </div>
</div>
 
</div>
  </div>
<!-- <footer></footer> -->

<div class=" surface-100">  
 

    <router-outlet></router-outlet>

</div>